# Stock Price Forecasting Project

In this project, I analyze and model the daily stock prices of three major companies: **Amazon (AMZN)**, **Microsoft (MSFT)**, and **IBM**. Using historical stock data from the past five years, I aim to explore trends, engineer features like moving averages and volatility, and build predictive models to forecast future prices.

The project uses the following tools:
- **Python** for data analysis and modeling
- **Pandas & yfinance** for data acquisition and manipulation
- **Matplotlib & Seaborn** for visualization
- **SQL** for data queries 
- **Tableau** for dashboarding and interactive insights


This end-to-end workflow simulates a real-world data science project and demonstrates my skills in data collection, preprocessing, modeling, and storytelling through visualizations.

## Modeling Plan

Since this dataset consists entirely of numerical time-series data, I will be using **regression models** to predict stock behavior. Specifically, I will focus on two outcome variables:

- **Next-Day Closing Price**: A direct prediction of the stock’s closing price for the following trading day.
- **Next-Day Percent Return**: A normalized prediction of the stock’s relative daily price change, calculated as the percent change in closing price from one day to the next.

To expand the range of modeling techniques I’ve used, I plan to go beyond the linear and LASSO models from previous projects. For this project, I will experiment with:

- **Random Forest Regressor**: A tree-based ensemble model that handles non-linear patterns well.
- **Gradient Boosting Regressor (e.g., XGBoost)**: A powerful boosting technique that often provides state-of-the-art performance.
- **Long Short-Term Memory (LSTM)** Neural Network: A deep learning model designed for sequential data, ideal for capturing time-based dependencies in stock prices.

These models will be trained on features engineered from historical stock data, including moving averages, volatility, and lagged prices. Model performance will be evaluated using appropriate regression metrics such as **Mean Absolute Error (MAE)** and **Root Mean Squared Error (RMSE)**.

In [54]:
import yfinance as yf
import os
import pandas as pd

In [55]:
os.makedirs("data", exist_ok=True)

# These are the labels used for the three specific stocks I am looking at
labels = ["AMZN", "MSFT", "IBM"]

# Now downloading and saving each one into the data folder
for label in labels:
    stock = yf.Ticker(ticker)
    df = stock.history(period="5y")  # last 5 years of daily data
    file_path = f"data/{label.lower()}_raw.csv"
    df.to_csv(file_path)
    print(f"Saved {label} data with {len(df)} rows to {file_path}")

Saved AMZN data with 1257 rows to data/amzn_raw.csv
Saved MSFT data with 1257 rows to data/msft_raw.csv
Saved IBM data with 1257 rows to data/ibm_raw.csv

In [56]:
amazon = pd.read_csv("data/amzn_raw.csv", index_col=False)
microsoft = pd.read_csv("data/msft_raw.csv", index_col=False)
ibm = pd.read_csv("data/ibm_raw.csv", index_col=False)
amazon.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-06-08 00:00:00-04:00,101.262777,104.026511,101.262777,103.926987,5617543,0.0,0.0
1,2020-06-09 00:00:00-04:00,102.219752,102.280994,100.305809,100.956551,5641706,0.0,0.0
2,2020-06-10 00:00:00-04:00,101.170907,101.232155,99.371805,99.425392,4952601,0.0,0.0
3,2020-06-11 00:00:00-04:00,96.485572,96.539165,90.215504,90.345650,12304726,0.0,0.0
4,2020-06-12 00:00:00-04:00,92.826126,94.257750,91.317938,93.331406,6506434,0.0,0.0

# Data Cleaning and Exploration

First it is very important to understand the data you are working with and understnd the questions you want to answer and reasoning behind it. First looking at the raw data it is split up into 8 different columns being:

- **Date**: The specific date the prices are on
- **Open**: The price at which the stock opens at on that specific day
- **High**: The highest price that specific stock reaches on that day
- **Low**: The lowest price that specific stock reaches on that day
- **Close**: What the stock price closes at on that day
- **Volume**: The total number of shares that were traded on that day (bought and sold). A higher volume often indicates stronger interest or volatility in the stock for that day.  
- **Dividends**: the amount of cash distributed to shareholder per share on that day. Most days this is 0 because most dividend-paying companies distribute it quarterly.
- **Stock Splits**: this shows any stock splits that occured on that day. A good example can be if a value of 2 is shwon there it would indicate that a 2-for-1 stock split occured. These can be rare but are important as they affect share count and price.

For this specific project I will be focusing more on **Open**, **High**, **Low**, **Close**, and **Volume**.

In [57]:
# Here I drop Dividends and Stock Splits from each data set. 
amazon.drop(columns=["Dividends", "Stock Splits"], inplace=True)
microsoft.drop(columns=["Dividends", "Stock Splits"], inplace=True)
ibm.drop(columns=["Dividends", "Stock Splits"], inplace=True)

# First I want to add a Label column that just shows the name of the company
amazon["Label"] = "AMZN"
microsoft["Label"] = "MSFT"
ibm["Label"] = "IBM"

# Here I am combining all data tables into a new data frame so it is easier to access
combined_df = pd.concat([amazon, microsoft, ibm], ignore_index=True)

In [64]:
# Gathering some basic information about the data
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3771 entries, 0 to 3770
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3771 non-null   object
 1   Open    3771 non-null   float64
 2   High    3771 non-null   float64
 3   Low     3771 non-null   float64
 4   Close   3771 non-null   float64
 5   Volume  3771 non-null   int64
 6   Ticker  3771 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 206.4+ KB

In [65]:
combined_df.describe()

              Open         High          Low        Close        Volume
count  3771.000000  3771.000000  3771.000000  3771.000000  3.771000e+03
mean    140.722199   142.031119   139.483683   140.846380  4.858675e+06
std      45.868052    46.431706    45.355981    46.046793  2.965054e+06
min      83.183138    85.036824    82.151583    82.717773  1.186200e+06
25%     111.635303   112.665071   110.539686   111.816864  3.338600e+06
50%     120.747073   121.859374   119.778482   120.950035  4.185300e+06
75%     164.667606   165.741289   163.431270   164.925995  5.410600e+06
max     267.989990   270.170013   267.529999   268.869995  3.981442e+07

When working through this dataset, it was important to check for any duplicated or missing values. Given that the dataset contains daily stock prices, each row should correspond to a unique trading date — so duplicates are not expected. Using `.isna().sum()` confirmed that there were no missing values across any of the columns. Similarly, `.duplicated().sum()` verified that there were no duplicate rows in the dataset. These checks ensure that the data is clean and reliable before moving on to further analysis and feature engineering.

In [63]:
print(combined_df)

                           Date        Open        High         Low  \
0     2020-06-08 00:00:00-04:00  101.262777  104.026511  101.262777
1     2020-06-09 00:00:00-04:00  102.219752  102.280994  100.305809
2     2020-06-10 00:00:00-04:00  101.170907  101.232155   99.371805
3     2020-06-11 00:00:00-04:00   96.485572   96.539165   90.215504
4     2020-06-12 00:00:00-04:00   92.826126   94.257750   91.317938
...                         ...         ...         ...         ...
3766  2025-06-02 00:00:00-04:00  257.850006  263.980011  257.220001
3767  2025-06-03 00:00:00-04:00  263.350006  265.559998  262.579987
3768  2025-06-04 00:00:00-04:00  264.899994  267.000000  264.790009
3769  2025-06-05 00:00:00-04:00  265.200012  267.510010  265.100006
3770  2025-06-06 00:00:00-04:00  267.989990  270.170013  267.529999

           Close    Volume Ticker
0     103.926987   5617543   AMZN
1     100.956551   5641706   AMZN
2      99.425392   4952601   AMZN
3      90.345650  12304726   AMZN
4      93.331406   6506434   AMZN
...          ...       ...    ...
3766  263.899994   2831900    IBM
3767  265.200012   2494700    IBM
3768  265.519989   2588600    IBM
3769  266.859985   2658400    IBM
3770  268.869995   2495200    IBM

[3771 rows x 7 columns]